.container {
    background: black;
    padding: 100px;
}

.container h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ebebeb;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 25px 0;
}
ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #ebebeb;
    text-decoration: none;
    padding: 5px 10px;
}

ul.filters > li > a:hover{
    color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #3498db;
}
ul.filters li a {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #ebebeb;
}

.card{
    position: relative;
    margin-bottom: 50px;
    /* color: #000;
    border: 1px solid black;
    background-color: black; */
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbe3ea;
    opacity: 0.9;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    /* box-sizing: border-box; */
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

h4.title{
    font-family: 'Montserrat', sans-serif;
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}
